*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    margin: auto;
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5;
    background-color: #212121bb;
    color: white;
    font-size: 1.2rem;
}
.heading{
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
}
.container p{
    margin: 5px;
}
.container p:nth-child(3){
    margin: 10px 0;
    font-size: 2.5rem;
}
form{
    display: flex;
    flex-direction: column;
}
form input[type=text]{

    margin: 20px;
    padding: 10px;
    width: 250px;
    border: 5px solid #6c6d6d;
    font-size: 20px;
}
form button{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;

    background-color: black;
    color: #fff;
    font-size: 20px;
}
#last{
    background-color: #92929286;
    color: #fff;
    padding: 3.5px;
}